<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yuu.blog.dao.OptionsMapper">
    <sql id="Base_Column_List">
        option_id, option_site_title, option_site_descrption, option_meta_descrption, option_meta_keyword,
        option_aboutsite_avatar, option_aboutsite_title, option_aboutsite_content, option_aboutsite_wechat,
        option_aboutsite_qq, option_aboutsite_github, option_aboutsite_weibo, option_tongji,
        option_status
    </sql>

    <sql id="tb">options</sql>

    <!-- 新建信息 -->
    <insert id="insertOptions" parameterType="Options">
        insert into <include refid="tb"/>
        (option_id, option_site_title, option_site_descrption,
        option_meta_descrption, option_meta_keyword,
        option_aboutsite_avatar, option_aboutsite_title,
        option_aboutsite_content, option_aboutsite_wechat,
        option_aboutsite_qq, option_aboutsite_github,
        option_aboutsite_weibo, option_tongji, option_status
        )
        values (#{optionId}, #{optionSiteTitle},
        #{optionSiteDescrption},
        #{optionMetaDescrption}, #{optionMetaKeyword},
        #{optionAboutsiteAvatar}, #{optionAboutsiteTitle},
        #{optionAboutsiteContent}, #{optionAboutsiteWechat},
        #{optionAboutsiteQq}, #{optionAboutsiteGithub},
        #{optionAboutsiteWeibo}, #{optionTongji}, #{optionStatus}
        )
    </insert>

    <!-- 更新基本信息 -->
    <update id="updateOptions" parameterType="Options">
        update <include refid="tb"/>
        <set>
            <if test="optionSiteTitle != null">option_site_title = #{optionSiteTitle},</if>
            <if test="optionSiteDescrption != null">option_site_descrption = #{optionSiteDescrption},</if>
            <if test="optionMetaDescrption != null">option_meta_descrption = #{optionMetaDescrption},</if>
            <if test="optionMetaKeyword != null">option_meta_keyword = #{optionMetaKeyword},</if>
            <if test="optionAboutsiteAvatar != null">option_aboutsite_avatar = #{optionAboutsiteAvatar},</if>
            <if test="optionAboutsiteTitle != null">option_aboutsite_title = #{optionAboutsiteTitle},</if>
            <if test="optionAboutsiteContent != null">option_aboutsite_content =#{optionAboutsiteContent},</if>
            <if test="optionAboutsiteWechat != null">option_aboutsite_wechat =#{optionAboutsiteWechat},</if>
            <if test="optionAboutsiteQq != null">option_aboutsite_qq = #{optionAboutsiteQq},</if>
            <if test="optionAboutsiteGithub != null">option_aboutsite_github =#{optionAboutsiteGithub},</if>
            <if test="optionAboutsiteWeibo != null">option_aboutsite_weibo = #{optionAboutsiteWeibo},</if>
            <if test="optionTongji != null">option_tongji = #{optionTongji},</if>
            <if test="optionStatus != null">option_status = #{optionStatus}</if>
        </set>
        where option_id = #{optionId}
    </update>

    <!-- 获取基本信息 -->
    <select id="getOptions" resultType="Options">
        select <include refid="Base_Column_List"/>
        from <include refid="tb"/>
        limit 1
    </select>

</mapper>